In [1]:
print("Day 3")

Day 3

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [4]:
list=[]
list.append(10)
list

[10]

In [5]:
list.append(20)
list

[10, 20]

In [6]:
list.append(30,40)
list

TypeError: list.append() takes exactly one argument (2 given)

In [7]:
#list is just like an array,indexing starts from 0
list.append("innogeeks")
list

[10, 20, 'innogeeks']

In [8]:
list.insert(2,15)   #inserts 15 at 2nd index
list

[10, 20, 15, 'innogeeks']

In [9]:
list.pop()         #pop() deletes the last element of a list.Here, innogeeks has been deleted

'innogeeks'

In [10]:
list

[10, 20, 15]

In [11]:
list.pop()
list.append(40)
list.append("innogeeks")
list

[10, 20, 40, 'innogeeks']

In [12]:
list.pop(2)       #deletes the element at 2nd index

40

In [13]:
list

[10, 20, 'innogeeks']

In [14]:
list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [15]:
list.pop()
list.append(30)
list.append(24)
list.append(5)
list

[10, 20, 30, 24, 5]

In [16]:
list.sort()
list

[5, 10, 20, 24, 30]

In [17]:
list.sort(reverse=True)   #sorts the list in reverse(descending order)
list

[30, 24, 20, 10, 5]

In [18]:
list2=["suyash","rachitavya","himanshu","innogeeks"]
list2

['suyash', 'rachitavya', 'himanshu', 'innogeeks']

In [19]:
list2.sort()   #sorts the strings in alphabetical order
list2

['himanshu', 'innogeeks', 'rachitavya', 'suyash']

In [20]:
list2.sort(key=len)   #sorts string as per their lengths
list2

['suyash', 'himanshu', 'innogeeks', 'rachitavya']

In [21]:
list+list2

[30, 24, 20, 10, 5, 'suyash', 'himanshu', 'innogeeks', 'rachitavya']

In [22]:
list3=[]
for i in range(1,11):
    list3.append(i**2)   #for powers we use double asterisk ex: 2**3=8
list3

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
list3=[x**3 for x in range(1,11)]
list3

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [24]:
# to print (1,4),(2,5),(3,6)
l1=[1,2,3]
l2=[4,5,6]
list=[]
for i  in l1:
    for j in l2:
        list.append((i,j))
list

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [25]:
list=[(x,y) for x in l1 for y in l2]
list

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [26]:
a=[[1,2,3],[4,5,6],[7,8,9]]  #matrix
len(a)

3

In [27]:
a[0][1]  #to get the element at 0th row and 1st coloumn of a matrix

2

In [28]:
dict={143:"suyash",456:"innotech"}  #dictionary in python:here 143 is the key(address) and the value at this address is suyash
dict[143]

'suyash'

In [29]:
dict.keys()  #to get all the keys of the dictionary

dict_keys([143, 456])

In [30]:
dict.items()  #to get all the keys and vaues at those keys in the dictionary

dict_items([(143, 'suyash'), (456, 'innotech')])

In [31]:
list1=["webd","ML","backend","cloud","c","c++","python","go","rust"]
list2=["doctor","engineer","sci","teacher"]
dict={"kanishk":list1,"johnny sins":list2}

In [32]:
dict["kanishk"]

['webd', 'ML', 'backend', 'cloud', 'c', 'c++', 'python', 'go', 'rust']

In [33]:
dict["johnny sins"]

['doctor', 'engineer', 'sci', 'teacher']

In [34]:
dict={143:"suyash",456:"rachitavya"}
for keys,values in dict.items():
    print(keys,values)

143 suyash
456 rachitavya

In [35]:
#string formatting

In [36]:
a=9
print(f"hello your age is {a}")

hello your age is 9

In [38]:
l1=[1,2,3]
l2=[4,5,6]
list=[]
for i  in l1:
    for j in l2:
       if i==j:
        list.append((i,j))
              
list

[]