In [3]:
import pandas as pd

# Series

In [4]:
#creating a series
days =['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
my_series=pd.Series(days,index=range(1,8))
print(my_series)

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

In [5]:
type(my_series)

pandas.core.series.Series

In [6]:
# creating a series through dictionary
dict={'1':'Monday','2':'Tuesday','3':'Wednesday','4':'Thursday','5':'Friday','6':'Saturday','7':'Sunday'}
ser=pd.Series(dict)
print(ser)

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

# DataFrame

In [7]:
#Dataframe
max_temp=[18,19,20,20,22,17,21]
min_temp=[6,2,11,4,12,8,9]
event=['Rain','Thunderstorm','Rain','Fog','Fog','Rain','Rain']
windspeed=[10,14,1,42,12,15,30]
weath={'Day':days,'Max Temperature':max_temp,'Min Temperature':min_temp,'Windspeed':windspeed,'Event':event}
df=pd.DataFrame(weath,index=range(1,8))
df

         Day  Max Temperature  Min Temperature  Windspeed         Event
1     Monday               18                6         10          Rain
2    Tuesday               19                2         14  Thunderstorm
3  Wednesday               20               11          1          Rain
4   Thursday               20                4         42           Fog
5     Friday               22               12         12           Fog
6   Saturday               17                8         15          Rain
7     Sunday               21                9         30          Rain

In [8]:
type(df)

pandas.core.frame.DataFrame

# Importing and exporting data

In [9]:
df.to_csv('weather data.csv')

In [10]:
new_df=pd.read_csv('new weather data.csv')

In [11]:
new_df

,Unnamed: 0,Day,Max Temperature,Min Temperature,Humidity,Windspeed,Event
0,1,Monday,18,6,75,10,Rain
1,2,Tuesday,19,2,15,14,Thunderstorm
2,3,Wednesday,20,11,88,1,Rain
3,4,Thursday,20,4,56,42,Fog
4,5,Friday,22,12,63,12,Fog
5,6,Saturday,17,8,12,15,Rain
6,7,Sunday,21,9,85,30,Rain

In [12]:
df

         Day  Max Temperature  Min Temperature  Windspeed         Event
1     Monday               18                6         10          Rain
2    Tuesday               19                2         14  Thunderstorm
3  Wednesday               20               11          1          Rain
4   Thursday               20                4         42           Fog
5     Friday               22               12         12           Fog
6   Saturday               17                8         15          Rain
7     Sunday               21                9         30          Rain

In [13]:
df.shape # it returns a tuple

(7, 5)

In [14]:
a,b=df.shape
print("No. of rows = ",a,"\nNo. of columns = ",b)

No. of rows =  7
No. of columns =  5

In [15]:
df.head()  # gives starting 5 rows

         Day  Max Temperature  Min Temperature  Windspeed         Event
1     Monday               18                6         10          Rain
2    Tuesday               19                2         14  Thunderstorm
3  Wednesday               20               11          1          Rain
4   Thursday               20                4         42           Fog
5     Friday               22               12         12           Fog

In [16]:
df.tail()  # gives last 5 rows

         Day  Max Temperature  Min Temperature  Windspeed Event
3  Wednesday               20               11          1  Rain
4   Thursday               20                4         42   Fog
5     Friday               22               12         12   Fog
6   Saturday               17                8         15  Rain
7     Sunday               21                9         30  Rain

In [17]:
df.head(3) # gives starting 3 rows

         Day  Max Temperature  Min Temperature  Windspeed         Event
1     Monday               18                6         10          Rain
2    Tuesday               19                2         14  Thunderstorm
3  Wednesday               20               11          1          Rain

In [18]:
df.tail(3)  #gives last 3 rows

        Day  Max Temperature  Min Temperature  Windspeed Event
5    Friday               22               12         12   Fog
6  Saturday               17                8         15  Rain
7    Sunday               21                9         30  Rain

In [19]:
print(df.columns)

Index(['Day', 'Max Temperature', 'Min Temperature', 'Windspeed', 'Event'], dtype='object')

In [20]:
df.Event

1            Rain
2    Thunderstorm
3            Rain
4             Fog
5             Fog
6            Rain
7            Rain
Name: Event, dtype: object

In [21]:
type(df['Event'])

pandas.core.series.Series

In [22]:
df['Event']

1            Rain
2    Thunderstorm
3            Rain
4             Fog
5             Fog
6            Rain
7            Rain
Name: Event, dtype: object

In [23]:
df[['Event','Day']]

          Event        Day
1          Rain     Monday
2  Thunderstorm    Tuesday
3          Rain  Wednesday
4           Fog   Thursday
5           Fog     Friday
6          Rain   Saturday
7          Rain     Sunday

# Feb 2

# Operations on dataFrame

In [24]:
new_df.max()   #to get maximum from each column

Unnamed: 0                    7
Day                   Wednesday
Max Temperature              22
Min Temperature              12
Humidity                     88
Windspeed                    42
Event              Thunderstorm
dtype: object

In [26]:
new_df[['Humidity','Event']].max()

Humidity              88
Event       Thunderstorm
dtype: object

In [27]:
new_df[new_df['Humidity']>80]   #to get all the Humidity values greater than 80

,Unnamed: 0,Day,Max Temperature,Min Temperature,Humidity,Windspeed,Event
2,3,Wednesday,20,11,88,1,Rain
6,7,Sunday,21,9,85,30,Rain

In [28]:
new_df['Humidity']>80

0    False
1    False
2     True
3    False
4    False
5    False
6     True
Name: Humidity, dtype: bool

In [29]:
new_df.describe()

       Unnamed: 0  Max Temperature  Min Temperature   Humidity  Windspeed
count    7.000000         7.000000         7.000000   7.000000   7.000000
mean     4.000000        19.571429         7.428571  56.285714  17.714286
std      2.160247         1.718249         3.644957  31.335360  13.744263
min      1.000000        17.000000         2.000000  12.000000   1.000000
25%      2.500000        18.500000         5.000000  35.500000  11.000000
50%      4.000000        20.000000         8.000000  63.000000  14.000000
75%      5.500000        20.500000        10.000000  80.000000  22.500000
max      7.000000        22.000000        12.000000  88.000000  42.000000

In [30]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7 non-null      int64
 1   Day              7 non-null      object
 2   Max Temperature  7 non-null      int64
 3   Min Temperature  7 non-null      int64
 4   Humidity         7 non-null      int64
 5   Windspeed        7 non-null      int64
 6   Event            7 non-null      object
dtypes: int64(5), object(2)
memory usage: 520.0+ bytes

In [31]:
new_df.corr()

,Unnamed: 0,Max Temperature,Min Temperature,Humidity,Windspeed
Unnamed: 0,1.000000,0.314309,0.465667,-0.002462,0.409776
Max Temperature,0.314309,1.000000,0.460000,0.553649,0.198614
Min Temperature,0.465667,0.460000,1.000000,0.528447,-0.399699
Humidity,-0.002462,0.553649,0.528447,1.000000,-0.036155
Windspeed,0.409776,0.198614,-0.399699,-0.036155,1.000000